body {
 
  width: 1900px;
  height: 1080px;
  overflow-y: scroll;
  background: radial-gradient(
    65.12% 159.79% at 58.78% 54.49%,
    #99fefe 0%,
    rgba(0, 240, 255, 0.5) 0.01%,
    #0aa7ff 100%
  ); /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}

.pngwing1 {
  position: absolute;
  width: 863px;
  height: 1082px;
  left: 1153.49px;
  top: -209px;
  background: url(pngwing.png);
  mix-blend-mode: screen;
  filter: blur(10px);
  transform: matrix(0, 1, 1, 0, 0, 0);
}

.pngwing2 {
  position: absolute;
  width: 1194px;
  height: 1082px;
  left: -349px;
  top: 287px;
  background: url(pngwing.png);
  mix-blend-mode: overlay;
  filter: blur(15px);
}

.ddosImg {
  position: absolute;
  width: 215px;
  height: 215px;
  left: 1622px;
  top: 790px;

  background: url(изображение_2022-03-18_215506.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.contactUsFrame {
  position: absolute;
  width: 405px;
  height: 434px;
  left: 323px;
  top: 482px;
  background: #ffffff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background: url(images/framefon.png);
}

.ContactUSText {
  position: absolute;
  width: 275px;
  height: 82px;
  left: 71px;
  top: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  color: #000000;
}

.vkBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 23px;
  top: 139px;
  background-image: url(images/vk.png);
  background-position: center;
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.wappBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 283px;
  top: 139px;
  background: url(images/wapp.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.gmailBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 153px;
  top: 139px;
  background-image: url(images/gmail.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.telegBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 153px;
  top: 293px;
  background: url(images/teleg.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.toLoginPageFrame {
  position: absolute;
  width: 334px;
  height: 450px;
  left: 1275px;
  top: 106px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background: url(images/framefon.png);
}

.boxLogPage {
  position: absolute;
  width: 245px;
  height: 82px;
  left: 48px;
  top: 202px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.txtLoginPage {
  position: absolute;
  width: 183px;
  height: 46px;
  left: 82px;
  top: 217px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  color: #000000;
}

.txtAlreadyReg {
  position: absolute;
  width: 256px;
  height: 156px;
  left: 37px;
  top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  color: #000000;
}

.inputInfoFrame {
  position: absolute;
  width: 422px;
  height: 811px;
  left: 793px;
  top: 164px;
  background: #ffffff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  background: url(images/framefon.png);
}

.boxInputPasswAgain {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 52px;
  top: 522px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.boxInputPassw {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 451px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.boxInputPhoneNumber {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 380px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.boxInputMail {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 309px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.boxInputLogin {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 238px;

  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.boxInputFullName {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 171px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.boxButtonEnter {
  position: absolute;
  width: 151px;
  height: 80px;
  left: 138px;
  top: 687px;
  background: #40b7fb;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  color: #000000;
}

.googleEnter {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 174px;
  top: 100px;
  background: url(.png);
  mix-blend-mode: normal;
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.txtRegistration {
  position: absolute;
  width: 321px;
  height: 64px;
  left: 52px;
  top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  color: #000000;
}

.Ellipse1 {
  position: absolute;
  width: 506px;
  height: 506px;
  left: -253px;
  top: -253px;

  background: url(изображение_2022-03-19_004118.png);
}
