body {
  height: max-content;
  width: max-content;
  overflow-y: scroll;
  background: radial-gradient(
    65.12% 159.79% at 58.78% 54.49%,
    #99fefe 0%,
    rgba(0, 240, 255, 0.5) 0.01%,
    #0aa7ff 100%
  );
}

.ddosImg {
  position: absolute;
  width: 215px;
  height: 215px;
  left: 1622px;
  top: 700px;

  background: url(images/ddos.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.contactUsFrame {
  position: absolute;
  width: 405px;
  height: 434px;
  left: 323px;
  top: 482px;
  background: #ffffff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: url(images/framefon.png);
  z-index: 1;
}

.ContactUSText {
  position: absolute;
  width: 275px;
  height: 82px;
  left: 71px;
  top: 27px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  color: #000000;
}

.vkBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 23px;
  top: 139px;
  background-image: url(images/vk.png);
  background-position: center;
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.wappBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 283px;
  top: 139px;
  background: url(images/wapp.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.gmailBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 153px;
  top: 139px;
  background-image: url(images/gmail.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.telegBt {
  position: absolute;
  width: 96px;
  height: 96px;
  left: 153px;
  top: 293px;
  background: url(images/teleg.png);
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
}

.toLoginPageFrame {
  position: absolute;
  width: 334px;
  height: 450px;
  left: 1245px;
  top: 106px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: url(images/framefon.png);
  z-index: 1;
}

.boxLogPage {
  position: absolute;
  width: 245px;
  height: 80px;
  left: 48px;
  top: 202px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border-radius: 25px;
}

.txtLoginPage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.txtAlreadyReg {
  position: absolute;
  width: 256px;
  height: 156px;
  left: 37px;
  top: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  color: #000000;
}

.inputInfoFrame {
  position: absolute;
  width: 422px;
  height: 800px;
  left: 763px;
  top: 104px;
  background: #ffffff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: url(images/framefon.png);
  z-index: 1;
}

.boxInputFullName {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 171px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  z-index: 7;
}

.boxInputLogin {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 238px;

  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  z-index: 6;
}

.boxInputMail {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 309px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  z-index: 5;
}

.boxInputPhoneNumber {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 380px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  z-index: 4;
}

.boxInputPassw {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 53px;
  top: 451px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  z-index: 3;
}

.boxInputPasswAgain {
  position: absolute;
  width: 321px;
  height: 57px;
  left: 52px;
  top: 522px;
  background: #b9eeff;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  z-index: 2;
}

.boxButtonEnter {
  position: absolute;
  width: 151px;
  height: 80px;
  left: 138px;
  top: 687px;
  background: #40b7fb;
  box-shadow: 10px -20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  color: #000000;
}

.googleEnter {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 174px;
  top: 90px;
  background: url(images/Google.png);
  mix-blend-mode: normal;
  filter: drop-shadow(10px -20px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.txtRegistration {
  position: absolute;
  width: 321px;
  height: 64px;
  left: 52px;
  top: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;

  text-align: center;
  color: #000000;
}

.topLeft {
  position: absolute;
  width: 253px;
  height: 253px;
  top: 0px;
  left: 0px;
  background: url(images/top_left.png);
}

.pngwing1 {
  position: absolute;
  width: 659px;
  height: 763px;
  left: 1202.67px;
  top: 0px;
  background: url(images/fonMaskRight.png);
  mix-blend-mode: screen;
  z-index: 0;
}

.pngwing2 {
  position: absolute;
  width: 845px;
  height: 793px;
  left: 0px;
  top: 170px;
  background: url(images/fonMaskLeft.png);
  mix-blend-mode: overlay;
  z-index: 0;
}
