body {
    position: static;
    width: max-content;
    height: max-content;
    overflow-y: scroll;
    background: radial-gradient(
      94.58% 208.46% at 70.16% 92.87%,
      #8adcff 0%,
      #b9eeff 0.01%,
      #40b7fb 100%
    );
  } /*warning: gradient uses a rotation that is not supported by CSS and may not behave as expected {;*/
  
    .figureS{
        width: max-content;
        height: max-content;
        position: relative;
        overflow-y: scroll;
    }
    .Figures {
        background: url(images/figure.png);
    }

  .Register {
    /*фрейм регистрации*/
    position: absolute;
    width: 334px;
    height: 450px;
    left: 1228px;
    top: 100px;
    background: #ffffff;
    box-shadow: -10px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  
  .RegAsking {
    /*вопрос о регистрации*/
    position: absolute;
    width: 256px;
    height: 156px;
    left: 39px;
    top: 22px;
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  
  .registerbutton {
    /*переход на регистрацию*/
    position: absolute;
    width: 245px;
    height: 82px;
    left: 48px;
    top: 202px;
    background: #b9eeff;
    box-shadow: -10px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-decoration: none;
  }
  
  .toRegBtnText {
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #000000;
  }
  
  .paint {
    /*узор на кнопке*/
    position: absolute;
    width: 333.54px;
    height: 334.95px;
    left: 0.47px;
    top: 68.54px;
    background: url(pngwing.png);
    transform: rotate(0.25deg);
  }
  
  .okrug2 {
    /*верхний левый угол*/
    position: absolute;
    width: 1027px;
    height: 986px;
    left: 0px;
    top: 0px;
    background: url(images/topright.png);
    background-blend-mode: overlay;
    opacity: 0.9;
    box-shadow: 10px 10px 40px 5px #8adcff;
    filter: drop-shadow(10px 20px 10px #8adcff);
  }
  
  .LoginFrame {
    /*фрейм логина*/
    position: absolute;
    width: 500px;
    height: 700px;
    left: 710px;
    top: 100px;
    background: #ffffff;
    box-shadow: -10px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  
  /* текст на фрейме логина */
  .textLogin {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 150px;
    top: 40px;
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  
  .form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 150px;
    left: 50px;
  }
  
  .baseBox {
    width: 400px;
    height: 60px;
  
    padding-left: 10px;
    margin-top: 10px;
  
    background: #b9eeff;
    filter: drop-shadow(-10px 20px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
  
    color: black;
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  
  /* кнопка ентер */
  .buttonEnter {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 100px;
    top: 200px;
    background: #40b7fb;
    filter: drop-shadow(-10px 20px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  
    color: black;
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 21px;
  }
  
  /* узор на фрейме логина */
  .paintLogin {
    position: absolute;
    width: 494.41px;
    height: 553.33px;
    left: 0px;
    top: 130.65px;
    background: url(images/pngwing.png);
    transform: rotate(0.25deg);
  }
  
  /* текст "или" */
  .OR {
    position: absolute;
    width: 237px;
    height: 34px;
    left: 125px;
    top: 470px;
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 1000;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
  
  /* переход на гугол */
  .googleEnter {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 210px;
    top: 550px;
    background: url(images/Google.png);
    filter: drop-shadow(-10px 20px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* фрейм связь с нами */
  .Contact_us {
    position: absolute;
    width: 550px;
    height: 300px;
    left: 140px;
    top: 500px;
    background: #ffffff;
    box-shadow: -10px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
  
  /* фрейм связь с нами текст */
  .Contact_us_text {
    position: absolute;
    width: 200px;
    height: 80px;
    left: 175px;
    top: 30px;
    font-family: "Roboto";
    user-select: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  
  .contactsBlock {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 150px;
    left: 25px;
  }
  
  .contactsImages {
    width: 96px;
    height: 96px;
    filter: drop-shadow(-10px 20px 4px rgba(0, 0, 0, 0.25));
    margin-right: 40px;
  }
  
  .Ddos {
    position: absolute;
    width: 215px;
    height: 215px;
    left: 1642px;
    top: 700px;
    background: url(images/ddos.png);
    filter: drop-shadow(-10px 20px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* правый нижний угол */
  .Okrug {
    position: absolute;
    width: 401.99px;
    height: 336.02px;
    left: 1951.04px;
    top: 1129.02px;
    background: url(изображение_2022-03-18_215156.png);
    background-blend-mode: overlay;
    mix-blend-mode: normal;
    opacity: 0.9;
    box-shadow: 10px 10px 40px #8adcff, 10px 20px 10px #8adcff;
    transform: rotate(179.99deg);
  }
  
  .Figures {
    /*папка с кружочками*/
    position: absolute;
    width: 2074.25px;
    height: 1291.69px;
    left: -14px;
    top: -151px;
  }
  
  .first {
    position: absolute;
    width: 428.76px;
    height: 681.5px;
    left: 920.54px;
    top: 1140.69px;
    background: url(pngwing.png);
    transform: rotate(-107.12deg);
  }
  
  .third {
    position: absolute;
    width: 634.85px;
    height: 489.79px;
    left: -14px;
    top: 36.9px;
    background: url(pngwing.png);
    transform: rotate(-16.46deg);
  }
  
  .second {
    position: absolute;
    width: 263px;
    height: 406px;
    left: 1654px;
    top: -43.25px;
    background: url(pngwing.png);
    transform: rotate(-24.18deg);
  }
  
  .fourth {
    position: absolute;
    width: 381px;
    height: 338.39px;
    left: 5px;
    top: 757px;
    background: url(pngwing.png);
  }
  
  .fifth {
    position: absolute;
    width: 310.45px;
    height: 91.39px;
    left: 914.63px;
    top: 0.11px;
    background: url(pngwing.png);
  }